body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  form {
    background-color: #444;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
  }
  
  label,
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
  }
  
  input[type="submit"] {
    background-color: #666;
    cursor: pointer;
  }
  